git+https://github.com/fontra/fontra.git
git+https://github.com/fontra/fontra-compile.git
git+https://github.com/googlefonts/gftools.git@fontra-avar2
fontmake>=3.9.0
drawbot-skia>=0.5.0
sh>=2.0.6
bumpfontversion>=0.4.1
